<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12" >
        <div class="card shadow-lg border-2 rounded-lg mt-5 mx-auto" style="width: 40rem;">
            <h3 class="card-header display-1 text-red text-center">
                404
            </h3>

            <span class="card-subtitle mb-2 text-red text-center">
                No fue posible encontrar la pagina. 
            </span>

            <div class="card-body mx-auto">
                <a type="button" routerLink="/inicio"
                class="btn btn-sm btn-danger text-white"> Volver al inicio </a>
            </div>
        </div>
    </div>
</div>
</div>
