.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 15%;
}
.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.canvas.card-body{
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 2%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2%;
}